@import "tailwindcss";

@theme {
  --color-velankani-blue: #234090;
  --color-clear-teal: #65b5b3;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
